.reverse-expertise {
    .expertise-block {
        border: none;
        .expertise-container {
            bottom: 50%;
            @include transform(translateY(50%));
            &__title {
                padding: 60% 0;
                font-size: 2.5rem;
            }
            .icon-animated {
                margin: 1.5rem 30% 0;
                @include transform(scale(1));
            }
            &:before {
                background-color: inherit;
            }
        }
        &__text {
            @include vertical-align();
            width: 70%;
            left: 0;
            right: 0;
            margin: 0 auto;
            color: palette(white, base);
        }

        &:hover {
            .expertise-container {
                bottom: -10%;
                &__title {
                    padding: 0;
                    font-size: 0;
                }
            }
            .icon-animated {
                margin: 0;
                @include transform(scale(0));
            }
        }
    }
}