.the-fg-way {
	&__image {
		overflow: hidden;
		width: 22rem;
		height: 22rem;
		position: relative;
		
		@include respondTo(phone){
			margin: auto;
		}
		
		@include border-radius(50%);
		img {
			height: auto;
			max-width: 80%;
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%, -50%))
		}
	}
	
	&__title,
	&__content{
		@include respondTo(phone){
			text-align: center;
		}
	}
}