.col-custom {
	width: 20%;
	float: left;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	
	@include respondTo(phone) {
		width: 100%;
	}
	
	&-big {
		width: 80%;
		float: left;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
		
		@include respondTo(phone) {
			width: 100%;
		}
	}
	
	.hide-mobile {
		@include respondTo(phone) {
			display: none;
		}
	}
	
	.img-responsive {
		padding: 0 .7rem 0.5rem;
		max-width: 200px;
		margin: auto;
		
		img {
			width: 100%;
		}
	}
	
	.h5--normal {
		@include respondTo(phone) {
			margin-bottom: 2rem;
		}
	}
}

.the-fg-way-container {
	@include respondTo(phone) {
		margin-left: 0;
	}
	
	[href="javascript:;"] {
		cursor: default;
	}
}