<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Careers Format</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="css/loader.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="js/angular.js"></script>
  <script src="js/angular-ui-router.js"></script>
  <script src="js/resource.js"></script>
  <script src="js/mask.js"></script>
  <script src="js/careers-position.js"></script>
  <script src="js/controllers/careers-form-controller.js"></script>
  <script src="js/commands/send-email.command.js"></script>
</head>
<body ng-app="careers-position">
<section class="position-section padding-bottom-3">
  <div class="container">

    <div class="black__color--dark padding-top-2 margin-left--2">
      <h1 id="wtf">Why We Want You</h1>
    </div>
    <div class="paragraph padding-top-2 black__color--dark">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis vulputate tortor. Duis a vehicula nibh.
        Phasellus vestibulum, lectus quis congue fermentum, dui odio sodales.Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. In quis vulputate tortor. Duis a vehicula nibh. Phasellus vestibulum, lectus quis congue
        fermentum. Duis a vehicula nibh. Phasellus vestibulum, lectus quis congue fermentum, dui odio sodales.Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. In quis vulputate tortor. Duis a vehicula nibh. Phasellus
        vestibulum, lectus quis congue fermentum.</p>
    </div>

    <!-- two rows description -->
    <div class="row">
      <!-- single column -->
      <div class="col-sm-6 col-xs-12 black__color--dark padding-top-1">
        <h2>What You’ll Do</h2>
        <div
          class="content-blocks__text paragraph black__color--dark padding-top-1 padding-bottom-1 about-description__list">
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis vulputate tortor.</li>
            <li>Duis a vehicula nibh. Phasellus vestibulum, lectus quis congue fermentum, dui odio sodales.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis vulputate tortor. Duis a vehicula
              nibh.
            </li>
            <li>Phasellus vestibulum, lectus quis congue fermentum, dui odio sodales.</li>
            <li>Lorem ipsum dolor sit amet, consectetur dui odioadipiscing elit.</li>
            <li>Duis a vehicula nibh. Phasellus vestibulum, lectus quis congue fermentum, dui odio sodales.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis vulputate tortor. Duis a vehicula
              nibh.
            </li>
            <li>Phasellus vestibulum, lectus quis congue fermentum, dui odio sodales.</li>
            <li>Lorem ipsum dolor sit amet, consectetur dui odioadipiscing elit.</li>
          </ul>
        </div>
      </div>

      <!-- end single column -->

      <div class="col-sm-6 col-xs-12 black__color--dark padding-top-1">
        <h2>Skills You’ll Bring</h2>
        <div
          class="content-blocks__text paragraph black__color--dark padding-top-1 padding-bottom-1 about-description__list">
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis vulputate tortor.</li>
            <li>Duis a vehicula nibh. Phasellus vestibulum, lectus quis congue fermentum, dui odio sodales.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis vulputate tortor. Duis a vehicula
              nibh.
            </li>
            <li>Dui odio sodales.Lorem ipsum dolor sit amet, consectetur</li>
            <li>Phasellus vestibulum, lectus quis congue fermentum, dui odio sodales.</li>
            <li>Lorem ipsum dolor sit amet, consectetur dui odioadipiscing elit.</li>
          </ul>
        </div>
      </div>

    </div>

    <div ng-controller="CareersPositionController as ctrl">
      <div id="formId">
        <div class="position-section__form"
             ng-class="{'form__is-expanded': ctrl.formExpanded}"
        >

          <form name="ctrl.careersForm" ng-submit="ctrl.submitForm()">

            <div class="green__color reset margin-bottom-2 padding-top-1 padding-bottom-1">
              <h2>Apply</h2>
            </div>
            <div class="row">
              <div class="col-sm-6 col-xs-12 pad">
                <ul class="list-unstyled padding-right-3 position-section__ul">
                  <li>
                    <label for="firstName" class="form__label form__label--required">First Name</label>
                    <input class="form__input form__input--required"
                           type="text"
                           id="firstName"
                           name="firstName"
                           ng-model="ctrl.firstName"
                           required>
                  </li>
                  <li>
                    <label for="lastName" class="form__label form__label--required">Last Name</label>
                    <input class="form__input form__input--required"
                           type="text"
                           id="lastName"
                           name="lastName"
                           ng-model="ctrl.lastName"
                           required>
                  </li>
                </ul>
              </div>

              <div class="col-sm-6 col-xs-12">
                <ul class="list-unstyled padding-left-3 position-section__ul">
                  <li>
                    <label for="email" class="form__label form__label--required">Email Address</label>
                    <input class="form__input form__input--required"
                           type="email"
                           id="email"
                           name="email"
                           ng-model="ctrl.email"
                           required>
                  </li>
                  <li>
                    <label for="phoneFirst" class="form__label form__label--required">Phone</label>
                    <div>
                      <input class="form__input form__input--phone"
                             type="text"
                             id="phoneFirst"
                             name="phoneFirst"
                             ng-model="ctrl.phoneFirst"
                             required>

                      <input class="form__input form__input--phone"
                             type="text"
                             name="phoneSecond"
                             ng-model="ctrl.phoneSecond"
                             required>

                      <input class="form__input form__input--phone"
                             type="text"
                             name="phoneFinal"
                             ng-model="ctrl.phoneFinal"
                             required>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <label for="coverLetter" class="form__label form__label--required">Cover Letter</label>
            <textarea class="form__input form__input--required form__input--textarea"
                      name="coverLetter"
                      id="coverLetter"
                      cols="30"
                      rows="10"
                      ng-model="ctrl.coverLetter"
                      required>
        </textarea>

            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="row">
                <div class="col-md-4 col-sm-5 col-xs-6 padding-right-2 text-center position-section__upload-container">
                  <div class="row">
                    <label for="cv"
                           class="btn btn-slider position-section__button white__hover-color white__color--dark blue__bg--light blue__hover-bg text-uppercase"
                    >Upload Resume</label>
                    <input
                      type="file"
                      name="cv"
                      id="cv"
                      accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf,"
                      style="display: none">
                    <label for="cv"
                           class="info-label padding-left-2"
                    >Must be less than 2MB doc or pdf format only</label>
                  </div>
                </div>

                <div class="col-md-4 col-sm-5 col-xs-6 text-center position-section__upload-container">
                  <div class="row">
                    <label for="aditional"
                           class="btn btn-slider position-section__button white__hover-color white__color--dark blue__bg--light blue__hover-bg text-uppercase position-section__button--tight"
                    >Upload Additional <br> Documents</label>
                    <input
                      type="file"
                      name="aditional"
                      id="aditional"
                      accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf,"
                      multiple
                      style="display: none">
                    <label for="aditional"
                           class="info-label padding-left-2"
                    >Must be less than 2MB doc or pdf format only</label>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 text-right position-section__button--submit">
              <div class="row">
                <button
                  class="btn btn-slider white__hover-color white__color--dark green__bg green__hover-bg--semi-dark text-uppercase">
                  Submit
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>

      <div class="col-xs-12 text-center"
           ng-if="!ctrl.formExpanded">
        <button
          class="btn btn-slider white__hover-color white__color--dark green__bg text-uppercase green__hover-bg--semi-dark"
          ng-click="ctrl.formExpanded=true; ctrl.scrollTo('formId')">
          Apply
        </button>
      </div>
    </div>


  </div>
</section>
<footer class="footer">
  <div class="container padding-bottom-2">
    <div class="row">
      <div class="col-sm-4 col-xs-12 footer__logo">
        <a href="http://ferrazzi.projects-directory.com">
          <img src="http://ferrazzi.projects-directory.com/wp-content/uploads/2016/05/logo-long.png"
               alt="Ferrazzi Greenlight" width="181" height="27" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-4 col-xs-12 footer__copyrights text-center">
        <div class="footer__copyrights--hide">
          <p>© 2016 Ferrazzi Greenlight | <a href="http://ferrazzi.projects-directory.com/privacy-policy/">Privacy
            Policy</a></p>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 footer-copyrights text-right">
        <div class="footer__more">
          <span class="white__color--dark paragraph--small upper font__bold"></span>
          <i class="fa fa-angle-down green__color" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="go-top-page footer__top-page">
    <i class="fa fa-angle-up"></i>
    <p>TOP</p>
  </div>
</footer>
</body>
</html>