<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Careers Format</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="css/loader.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="js/angular.js"></script>
  <script src="js/angular-ui-router.js"></script>
  <script src="js/resource.js"></script>
  <script src="js/mask.js"></script>
  <script src="js/careers-position.js"></script>
  <script src="js/controllers/careers-form-controller.js"></script>
  <script src="js/commands/send-email.command.js"></script>
</head>
<body ng-app="careers-position">
<section class="position-section">
  <div class="container">

    <div class="black__color--dark padding-top-2">
      <h1>Why We Want You</h1>
    </div>
    <div class="paragraph padding-top-2 black__color--dark">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis vulputate tortor. Duis a vehicula nibh.
        Phasellus vestibulum, lectus quis congue fermentum, dui odio sodales.Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. In quis vulputate tortor. Duis a vehicula nibh. Phasellus vestibulum, lectus quis congue
        fermentum. Duis a vehicula nibh. Phasellus vestibulum, lectus quis congue fermentum, dui odio sodales.Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. In quis vulputate tortor. Duis a vehicula nibh. Phasellus
        vestibulum, lectus quis congue fermentum.</p>
    </div>

    <!-- two rows description -->
    <div class="row">
      <!-- single column -->
      <div class="col-sm-6 col-xs-12 black__color--dark padding-top-1">
        <h2>What You’ll Do</h2>
        <div
          class="content-blocks__text paragraph black__color--dark padding-top-1 padding-bottom-1 about-description__list">
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis vulputate tortor.</li>
            <li>Duis a vehicula nibh. Phasellus vestibulum, lectus quis congue fermentum, dui odio sodales.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis vulputate tortor. Duis a vehicula
              nibh.
            </li>
            <li>Phasellus vestibulum, lectus quis congue fermentum, dui odio sodales.</li>
            <li>Lorem ipsum dolor sit amet, consectetur dui odioadipiscing elit.</li>
            <li>Duis a vehicula nibh. Phasellus vestibulum, lectus quis congue fermentum, dui odio sodales.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis vulputate tortor. Duis a vehicula
              nibh.
            </li>
            <li>Phasellus vestibulum, lectus quis congue fermentum, dui odio sodales.</li>
            <li>Lorem ipsum dolor sit amet, consectetur dui odioadipiscing elit.</li>
          </ul>
        </div>
      </div>

      <!-- end single column -->

      <div class="col-sm-6 col-xs-12 black__color--dark padding-top-1">
        <h2>Skills You’ll Bring</h2>
        <div
          class="content-blocks__text paragraph black__color--dark padding-top-1 padding-bottom-1 about-description__list">
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis vulputate tortor.</li>
            <li>Duis a vehicula nibh. Phasellus vestibulum, lectus quis congue fermentum, dui odio sodales.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis vulputate tortor. Duis a vehicula
              nibh.
            </li>
            <li>Dui odio sodales.Lorem ipsum dolor sit amet, consectetur</li>
            <li>Phasellus vestibulum, lectus quis congue fermentum, dui odio sodales.</li>
            <li>Lorem ipsum dolor sit amet, consectetur dui odioadipiscing elit.</li>
          </ul>
        </div>
      </div>

    </div>

    <div ng-controller="CareersPositionController as ctrl">
      <form name="ctrl.careersForm" ng-submit="ctrl.submitForm()">
        <div class="partner-with-us__title h1--larger green__color reset margin-left--2 margin-bottom-2">
          <h4>Apply</h4>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12 pad">
            <ul class="list-unstyled padding-right-3 position-section--ul">
              <li>
                <label for="firstName" class="form__label form__label--required">First Name</label>
                <input class="form__input form__input--required"
                       type="text"
                       id="firstName"
                       name="firstName"
                       ng-model="ctrl.firstName"
                       required>
              </li>
              <li>
                <label for="lastName" class="form__label form__label--required">Last Name</label>
                <input class="form__input form__input--required"
                       type="text"
                       id="lastName"
                       name="lastName"
                       ng-model="ctrl.lastName"
                       required>
              </li>
            </ul>
          </div>

          <div class="col-sm-6 col-xs-12">
            <ul class="list-unstyled padding-left-3 position-section--ul">
              <li>
                <label for="email" class="form__label form__label--required">Email Address</label>
                <input class="form__input form__input--required"
                       type="email"
                       id="email"
                       name="email"
                       ng-model="ctrl.email"
                       required>
              </li>
              <li>
                <label for="phoneFirst" class="form__label form__label--required">Phone</label>
                <div>
                  <input class="form__input form__input--phone"
                         type="text"
                         id="phoneFirst"
                         name="phoneFirst"
                         ng-model="ctrl.phoneFirst"
                         required>

                  <input class="form__input form__input--phone"
                         type="text"
                         name="phoneSecond"
                         ng-model="ctrl.phoneSecond"
                         required>

                  <input class="form__input form__input--phone"
                         type="text"
                         name="phoneFinal"
                         ng-model="ctrl.phoneFinal"
                         required>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <label for="coverLetter" class="form__label form__label--required">Cover Letter</label>
        <textarea class="form__input form__input--required form__input--textarea"
                  name="coverLetter"
                  id="coverLetter"
                  cols="30"
                  rows="10"
                  ng-model="ctrl.coverLetter"
                  required>
        </textarea>
        <button class="btn btn-slider white__hover-color white__color--dark green__bg green__hover-bg--semi-dark">
          Submit
        </button>
      </form>
    </div>


  </div>
</section>
</body>
</html>