<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contact</title>
  <link rel="stylesheet" href="css/font-awesome-4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="css/loader.css">
  <link rel="stylesheet" href="css/main.css">

</head>
<body ng-app="contact-module">
<section class="contact-section" ng-controller="contactController as ctrl">
  <div class="container">
    <div class="col-xs-12 padding-top-4 padding-bottom-4">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="black__color--dark padding-bottom-4">
          <h1>Get in Touch</h1>
        </div>

        <div class="pop-up-form">
          <form class="form ng-valid-email" method="post"
                ng-submit="ctrl.submitFormHandler()">
            <ul class="list-unstyled">
              <li>
                <label class="form__label form__label--required" for="name">Name</label>
                <input type="text" name="name" id="name" class="form__input" ng-model="ctrl.AppEntity.requestSpeaker.name"
                       ng-change="ctrl.resetErrorMessageHandler()">
              </li>
              <li>
                <label class="form__label form__label--required" for="email">Email Address</label>
                <input type="email" name="email" id="email"
                       class="form__input ng-valid-email"
                       ng-model="ctrl.AppEntity.requestSpeaker.email" ng-change="ctrl.resetErrorMessageHandler()">
              </li>

              <li>
                <label for="phone-country" class="form__label">Phone</label>
                <div>
                  <input type="text" id="phone-country" maxlength="3" name="phone-country" class="form__input
									form__input--phone">
                  <input type="text" id="phone-county" maxlength="3" name="phone-county" class="form__input
									form__input--phone">
                  <input type="text" id="phone-final" name="phone-final" class="form__input form__input--phone">
                </div>
              </li>

              <li>
                <label class="form__label form__label--required" for="topic">Topic</label>
                <div class="form__input form__input--select">
                  <select id="topic" name="topic" ng-model="ctrl.AppEntity.requestSpeaker.topic"
                          ng-change="ctrl.resetErrorMessageHandler()" class="">
                    <option value="Challenge">Challenge</option>
                    <option value="Corporate">Corporate</option>
                    <option value="Non-Profit">Non-Profit</option>
                  </select>
                </div>
              </li>

              <li>
                <label for="comments" class="form__label form__label--required">Message</label>
                <textarea required="" name="comments" id="comments"
                          class="form__input form__input--required form__input--textarea"></textarea>
              </li>
              <li class="text-center margin-top--2">
                <button class="btn btn-green text-uppercase btn-slider form__button" type="submit"
                        ng-disabled="ctrl.AppEntity.loading">submit message
                </button>
              </li>
            </ul>
          </form>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="map-container padding-bottom-2">
          <ui-gmap-google-map center='ctrl.map.center' zoom='ctrl.map.zoom' options="ctrl.map.options">
            <ui-gmap-marker idKey='ctrl.map.marker.idKey' coords='ctrl.map.center' options="ctrl.map.marker.options">
              <ui-gmap-window show="ctrl.map.window.show" templateUrl="'map-info.html'" ;>
              </ui-gmap-window>
            </ui-gmap-marker>
          </ui-gmap-google-map>
        </div>

        <div>
          <div class="black__color--dark text-capitalize">
            <h2>Speaking engagements</h2>
          </div>
          <div class="green__color paragraph font__bold">
            <a href="mailTo:speaking@ferrazzigreenlight.com">speaking@ferrazzigreenlight.com</a>
          </div>
        </div>
        <div>
          <div class="black__color--dark text-capitalize padding-top-1">
            <h2>Media inquirires</h2>
          </div>
          <div class="green__color paragraph font__bold">
            <a href="mailTo:me@ferrazzigreenlight.com">me@ferrazzigreenlight.com</a>
          </div>
        </div>

      </div>
    </div>


  </div>
</section>

<script src="bower_components/lodash/dist/lodash.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
<script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
<script src="js/contact.js"></script>
<script src="js/controllers/contact-controller.js"></script>
</body>
</html>