<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Carreer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="css/loader.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

<section class="new-career">
  <div class="container">
    <div class="black__color--dark padding-top-2 margin-left--2">
      <h1>Current Opportunities</h1>
    </div>
    <div>
      <div class="paragraph black__color--dark font__bold margin-bottom--1">
        <p>Sort By</p>
      </div>
      <div class="filter">
        <div class="filter__item filter__item--smaller filter__hover--grey filter__item--active"
             ng-class="vm.AppEntity.filter?'':'filter__item--active'"
             ng-click="vm.updateFilterHandler(undefined)">
          All
        </div>
        <div ng-class="vm.AppEntity.filter == 18?'filter__item--active':''"
             class="filter__item filter__item--smaller filter__hover--grey"
             ng-click="vm.updateFilterHandler(18)">
          Administration</div>
        <div ng-class="vm.AppEntity.filter == 19?'filter__item--active':''"
             class="filter__item filter__item--smaller filter__hover--grey"
             ng-click="vm.updateFilterHandler(19)">
          Project Management</div>
        <div ng-class="vm.AppEntity.filter == 21?'filter__item--active':''"
             class="filter__item filter__item--smaller filter__hover--grey"
             ng-click="vm.updateFilterHandler(21)">
          Consulting</div>
        <div ng-class="vm.AppEntity.filter == 23?'filter__item--active':''"
             class="filter__item filter__item--smaller filter__hover--grey"
             ng-click="vm.updateFilterHandler(23)">
          Marketing</div>
      </div>
    </div>


    <!-- category Repeater -->
    <div>
      <div class="black__color--dark padding-top-1 padding-bottom-1">
        <h3>Administration</h3>
      </div>
      <!-- article Repeater  -->
      <div>
        <div class="black__color--dark padding-top-1">
          <h4>Position Name</h4>
        </div>
        <div class="paragraph black__color--dark">
          <p>In quis vulputate tortor. Duis a vehicula nibh. Phasellus vestibulum, lectus quis congue fermentum, dui odio
            sodales. In quis vulputate tortor. Duis a vehicula nibh. Phasellus vestibulum, lectus quis congue fermentum, dui
            odio sodales.</p>
        </div>
        <div class="content-blocks__url padding-top-2">
          <a class="flex flex__justfify-end font__bold green__color" href="">Read More</a>
        </div>
      </div>
    </div>


  </div>


</section>


</body>
</html>