.about-description {
    &__list {
        ul {
            li {
                line-height: 3.5rem;
                @include respondTo(notdesktop) {
                    line-height: 2.5rem;
                }
            }
        }
    }

    .view-more-url {
        &:hover {
            color: palette(white, dark);
        }
        span {
            color: palette(black);
            border-color: palette(black);
        }
    }

    .about-us-section {
        padding-top: 0;
        .block-about-us {
            height: 18.8rem;
            .block-content {
                @include transition();
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                margin: 0 auto;
                padding: 0;
                width: 90%;
                @include transform(scale(0) perspective(1px) translateY(-50%));
            }
            &:hover {
                .block-content {
                    @include transform(scale(1) perspective(1px) translateY(-50%));
                }
                .block-background__filter {
                    @include respondTo(phone) {
                        width: 70rem;
                        height: 70rem;
                    }
                }
            }
            .block-background__filter {
                opacity: .8;
            }
        }
    }

    .owl-carousel {
        width: 91%;
        margin: 0 auto;
    }

    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next,
    .owl-carousel .owl-dot {
        font-family: 'fontAwesome';

    }

    .owl-carousel {
        .owl-nav {
            padding: 0;
            .owl-prev,
            .owl-next {
                position: absolute;
                top: 7.5rem;
                padding: 0;
                background: none;
                color: palette(green, base);
                font-size: 3rem;
                &:hover {
                    background: none;
                    color: palette(green, base);
                }
            }
            .owl-prev {
                left: -4.5rem;
                &:before {
                    content: "\f053";
                }
            }
            .owl-next {
                right: -4.5rem;
                &:after {
                    content: "\f054";
                }
            }
            .disabled {
                color: palette(grey, base);
                &:hover {
                    color: palette(grey, base);
                }
            }
        }
    }
}