.about-description {
    &__list {
        ul {
            li {
                line-height: 3.5rem;
                @include respondTo(notdesktop){
                    line-height: 2.5rem;
                }
            }
        }
    }

    .view-more-url {
        &:hover {
            color: palette(white, dark);
        }
        span {
            color: palette(black);
            border-color: palette(black);
        }
    }
}