.about-description {
    &__list {
        ul {
            li {
                line-height: 3.5rem;
                @include respondTo(notdesktop){
                    line-height: 2.5rem;
                }
            }
        }
    }
    .testimonial-single {
        background-color: palette(blue, light);
    }
}