.article-view {
    h1,
    h2 {
        margin-top: 0;
        margin-bottom: 0;
    }
    h1 {
        line-height: 3rem;
    }

    &__side {
        padding: 0 2.5rem 0 2rem;
    }

    &__ul {
        ul {
            padding-left: 3rem;
        }
    }

    &__image-container {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__about {
        margin-left: -5px;
        h5 {
            font-size: 1.7rem;
        }
        h6,
        p {
            font-size: 1.4rem;
        }
    }

}