.book-page {
    &__details {
        @include respondTo(phone) {
            padding-left: 0;
        }
    }
    .reverse {
        .book-page__image {
            order: 1;
            @include respondTo(phone) {
                order: 0;
            }
        }
        .book-page__button {
            text-align: left;
            @include respondTo(phone) {
                text-align: center;
            }
        }
    }

    .book-page__button {
        @include respondTo(phone) {
            text-align: center;
            button {
                padding: 1.5rem 3rem;
                margin-top: 1rem;
            }
        }
    }
}