.contact-section {
    .map-info {
        i {
            font-size: 1.6rem;
        }
    }
}
.angular-google-map-container {
    height: 400px;
}


.labelClass {
    font-family: NewsGothicMT Bold,sans-serif;
    text-transform: capitalize;
    color:palette(red);
    font-size:1.2rem;
}
