.content-blocks {
	&__image {
		margin-top: 2rem;
	}
	&__url {
		
	}
	
	&__text {
		a {
			color: palette(green);
			@extend .font__bold;
		}
	}
	
	&__one {
		.content-blocks__title {
			height: auto;
		}
		.content-blocks__video {
			height: 32rem;
			margin-top: 2rem;
		}
	}
	
	img {
		max-width: 100%;
		height: auto;
		
		@include respondTo(phone) {
			height: 100%;
		}
	}
	&__video {
		height: 25.5rem;
		
		@include respondTo(phone) {
			height: 30rem;
		}
	}
}