.contact-section {
	.map-info {
		i {
			font-size: 2.2rem;
		}
	}
	
	.h1 {
		margin: 0;
		line-height: 3.4rem;
	}
	.h2 {
		margin-bottom: 0;
	}
	
	.map-container {
		height: 36.7rem;
		.angular-google-map-container {
			height: 36.7rem;
		}
		a[href^="http://maps.google.com/maps"],
		a[href^="https://maps.google.com/maps"] {
			display: none !important
		}
		
		.gmnoprint a, .gmnoprint span, .gm-style-cc {
			display: none;
		}
		.gmnoprint div {
			background: none !important;
		}
		
		.labelClass {
			@extend .font__bold;
			text-transform: capitalize;
			color: palette(red);
			font-size: 1.2rem;
		}
	}
	
	.btn-slider {
		@include respondTo(phone) {
			margin: 1rem 0;
		}
	}
	
}




