.expertise-square {
    a {
        display: block;
    }
    &__container {
        width: 71%;
        margin: 0 auto;
    }

    .test {
        position: relative;


    }

    .test2 {
        &:hover + .pop-up-text {
            display: block;
        }
    }

    &__link-container {
        position: relative;
        display: inline-block;

        &:before,
        &:after {
            content: "";
            width: 100%;
            height: .5rem;
            background-color: palette(grey);
            position: absolute;
            top: 50%;
            margin-top: -.2rem;
            cursor: default;
            z-index: 1;
            pointer-events: none;
        }

        &.no-after {
            &:after {
                content: none;
            }
        }

        &.connect-right {
            &:after {
                left: 100%;
                width: 200%;
            }

            &--bottom {
                &:after {
                    transform: rotate(50deg);
                    width: 29rem;
                    left: 1rem;
                    top:22rem;
                }
            }
        }

        &.connect-left {
            &:before {
                right: 100%;
                width: 200%;
            }
            &--bottom {
                &:before {
                    transform: rotate(-50deg);
                    width: 25rem;
                    left: -7rem;
                    top: 22rem;
                }
            }
        }
    }

    &__shape-container {
        position: relative;
        width: 16.5rem;
        height: 16.5rem;
        padding: 0.5rem;
        background-color: palette(blue, light);
        @include border-radius-separate(25px, 25px, 0, 25px);
        @include transition(background-color 1s ease);
        z-index: 12;

        &:hover {
            background-color: palette(green, light);
        }



    }

    &__content {
        width: 100%;
        height: 100%;
        border: 1px solid palette(white, base);
        @include border-radius-separate(20px, 20px, 0, 20px);
        background-size: cover;
        background: no-repeat center center;
    }

    .pop-up-text{
        position: absolute;
        overflow: visible;
        width: 30rem;
        padding: 2.2rem;
        background-color: transparentize(palette(green, light), 0.1);
        z-index: 100;
        display: none;
        pointer-events: none;
        min-height: 13.5rem;

        //@include transform(translate(50%, -30%));
        top: -14rem;
        left: 4rem;

        &:before{
            content: "";
            position: absolute;
            top: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 3rem 1.7rem 0 1.7rem;
            border-color: transparentize(palette(green, light), 0.1) transparent transparent transparent;
        }
        &.left-arrow{
            &:before{
                left: 3.5rem;
            }
        }

        &.right-arrow{
            left:-13rem;
            &:before{
                right: 3.5rem;
            }
        }


        @include border-radius(2rem);
        &__content{
            font-size: 1.3rem;
            letter-spacing: -0.02em;
            line-height: 1.5rem;
            color: palette(white, dark);
            text-align: center;

            @include fall-font(NewsGothicMT Bold);
        }
    }

}