.form {
	&__label {
		width: 100%;
		font-size: 1.4rem;
		color: palette(black, dark);
		text-indent: 1rem;
		@extend .font__bold;
		
		&--required {
			&:after {
				content: '*';
				color: palette(red);
				@extend .font__bold;
			}
		}
		
		&--normal {
			@include fall-font(NewsGothicMT);
		}
	}
	
	&__input {
		width: 100%;
		height: 5rem;
		border: 1px solid palette(grey);
		font-size: 1.6rem;
		line-height: 4rem;
		padding: 1rem;
		margin-bottom: 1.5rem;
		
		&--select {
			padding: 0;
			position: relative;
			&:after {
				content: '\f0d7';
				display: inline-block;
				font-family: 'FontAwesome';
				font-style: normal;
				font-weight: normal;
				line-height: 1.2;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				font-size: 3rem;
				text-align: center;
				color: palette(black, dark);
				position: absolute;
				top: 50%;
				right: 1.5rem;
				pointer-events: none;
				z-index: 10;
				@include transform(translateY(-50%));
			}
			
			select {
				border: 0 none;
				width: 100%;
				height: 4.8rem;
				text-indent: 1rem;
				-webkit-appearance: none;
				background-color: transparent;
				@include transition();
				
				@include respondTo(desktopSmall) {
					height: 2.8rem;
				}
				
				&:focus {
					background-color: palette(grey, lighter);
				}
				
				&::-ms-expand {
					display: none;
				}
				
				option {
					padding: 1rem;
				}
			}
		}
		&--multi-select {
			border: 0 none;
			
			.form__label {
				text-indent: 0;
				@include respondTo(desktopSmall) {
					margin-top: .3rem;
				}
				
				&--normal {
					@extend .font__normal;
				}
			}
			
			input:checked + ul {
				max-height: 22rem;
				overflow-y: auto;
				background-color: palette(grey, lighter);
				z-index: 15;
			}
			
			ul {
				position: absolute;
				z-index: 2;
				border: 1px solid palette(grey, lighter);
				background-color: palette(white);
				padding: 0 0 1rem 1rem;
				max-height: 100%;
				overflow: hidden;
				width: 100%;
				@include transition(all 0.7s ease 0s);
			}
		}
		
		&--phone {
			&:nth-child(3n+1) {
				margin-right: .5%;
			}
			&:nth-child(3n+1),
			&:nth-child(3n+2) {
				width: 29%;
			}
			
			&:nth-child(3n) {
				width: 39%;
				float: right;
			}
		}
		
		&--textarea {
			resize: none;
			max-width: 100%;
			min-width: 100%;
			min-height: 13rem;
		}
	}
	
	&__message {
		padding-top: 1rem;
		padding-right: 2rem;
		@extend .font__bold;
		
		&.error {
			color: palette(red);
		}
		
		&.success {
			color: palette(green);
		}
	}
	
	&__loader {
		font-size: 2.5rem;
		margin-left: 1rem;
		display: inline-block;
		@include transform(scale(0));
		opacity: 0;
		
		&--show {
			@include transform(scale(1));
			opacity: 1;
		}
	}
}