.individual-details {
    .page-quote {
        background-color: transparent;
    }

    &__title {
        @include respondTo(phone) {
            text-align: center;
        }
    }

    .testimonial-single {
        padding: 0 0 1.5rem 0.3rem;
        @include respondTo(notdesktop) {
            margin-left: 0;
            .quote-content {
                width: 100%;
            }
        }
    }

    .quote-symbol {
        color: palette(black, dark);
        font-size: 8rem;
        @include respondTo(notdesktop) {
            display: none;
        }
    }

    &__image-holder {
        width: 100%;
        img {
            width: 100%;
            height: auto;
        }
        @include respondTo(phone) {
            width: 32rem;
            margin: 0 auto;
        }
        @include respondTo(smallPhone) {
            width: 100%;
        }
    }

    .header-content__share--simple {
        .header-share__item {
            &:first-child {
                margin-left: 0;
            }
        }
    }

    .book-slider {
        visibility: hidden;
        &.slick-initialized {
            visibility: visible;
        }
        &__image {
            width: 10.5rem;
            height: 16rem;
            margin: 0 auto;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .slick-arrow {
            z-index: 1000;
            &.slick-next {
                right: 0;
            }
            &.slick-prev {
                left: 0;
            }
            &:before {
                color: black;
            }
        }
        &__title {
            max-width: 80%;
            margin: 0 auto;
            h5 {
                font-size: 1.7rem;
            }
        }
    }

    .btn-slider {
        margin-top: 3.7rem;
        @include respondTo(phone) {
            margin-top: 2rem;
        }
    }

    .hide-desktop {
        margin-top: -3rem;
        text-align: center;
        h3 {
            margin-top: 0;
        }
        @include respondTo(minTablet) {
            display: none;
        }
    }

    .hide-mobile {
        @include respondTo(phone) {
            display: none;
        }
    }

    .content-blocks__video {
        width: 28.4rem;
        height: 14.8rem;
        margin: 7rem auto 0;
        &.video-block {
            &:before {
                width: 5rem;
                height: 5rem;
            }
            &:after {
                width: 4rem;
                height: 4rem;
                font-size: 2rem;
            }
        }
    }

}