.individual-details {
    .page-quote {
        background-color: transparent;
    }

    .quote-symbol {
        color: palette(black, dark);
        font-size: 8rem;
    }



    &__image-holder {
        width: 100%;
        img {
            width: 100%;
            height: auto;
        }
    }

    .testimonial-single {
        padding: 0 0 1.5rem 0.3rem;
    }

    .header-content__share--simple {
        .header-share__item {
            &:first-child {
                margin-left: 0;
            }
        }
    }

    .book-slider {
        visibility: hidden;
        &.slick-initialized {
            visibility: visible;
        }
        &__image {
            width: 10.5rem;
            height: 16rem;
            margin: 0 auto;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .slick-arrow {
            &.slick-next {
                right: 0;
            }
            &:before {
                color: black;
            }
        }
    }

    .test {
        display: inline;
    }

}