.slider-wrapper {
	position: relative;

	ul{
		margin: 0;
	}

	.slider-item {
		position: relative;
		height: 100vh;

		.bellow-content{
			img{
				width: 100vw;
			}
		}
		.above-content {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;

			@include transform(translateY(-50%));
			@include respondTo(tablet){
				top: auto;
				bottom: 40%;

				@include transform(translateY(50%));
			}

			h2,
			h3,
			.btn{
				color: palette(white, dark);
			}

			h2{
				font-size: 12rem;
				line-height: 10rem;
				letter-spacing: 0;
				margin-bottom: 1rem;
				text-transform: none;

				@include fall-font(NewsGothicMT Bold);
				@include respondTo(tablet){
					font-size: 7rem;
					line-height: 6rem;
				}
			}
			h3{
				font-size: 4.4rem;
				line-height: 1;
				letter-spacing: 0;

				@include fall-font(NewsGothicMT Italic);
				@include respondTo(tablet){
					font-size: 3rem;
				}
			}
		}
	}
	.owl-dots{
		position: absolute;
		bottom: 1.6rem;
		text-align: center;
		width: 100%;

		.owl-dot{
			width: .9rem;
			height: .9rem;
			background-color: palette(white, dark);
			display: inline-block;
			margin: 0 .5rem;
			cursor: pointer;

			@include border-radius(50%);

			&.active{
				background-color: palette(green);
			}
		}
	}
}